*{
  box-sizing: border-box;

  margin: 0;
}

body{

  background-color: #666
}

h1{

  background-color: black;
  padding: 10px;
  text-align: center;
  color: white;
  margin-bottom: 10px;
}



.container{

  width: 90%;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
}

.prenotazione{

  width: 250px;
  height: 320px;
  border: 2px solid darkgray;
  margin: 20px;
  background-color: papayawhip;
}

.prenotazione h2{

  width: 100%;
  text-align: center;
  font-size: 18px;
  color:white;
  background-color: steelblue
}

.prenotazione h2 .fas{

  font-size: 14px;
}

.prenotazione ul {

  list-style: none;
  padding: 5px;
}


.prenotazione ul > li .tit {

  display: inline-block;
  width: 30%;
  font-weight: bold;
}

.prenotazione .identity{

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: aquamarine;
  /* margin-bottom: 10px; */
}
