*{
  box-sizing: border-box;

  margin: 0;
}

h1{

  background-color: black;
  padding: 10px;
  text-align: center;
  color: white;
  margin-bottom: 10px;
}



.container{

  width: 90%;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
}

.prenotazione{

  width: 250px;
  height: 280px;
  border: 2px solid #ccc;
  margin: 20px;
}

.prenotazione .identity{

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: aquamarine;
  margin-bottom: 10px;
}
